parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/filament-authentication-log.php

		-
			message: '#^Method Spatie\\LaravelPackageTools\\Package\:\:hasTranslations\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/FilamentAuthenticationLogServiceProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$authenticatable\.$#'
			identifier: property.notFound
			count: 3
			path: src/Resources/AuthenticationLogResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$authenticatable_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Resources/AuthenticationLogResource.php

		-
			message: '#^Call to an undefined method Filament\\Contracts\\Plugin\:\:getPanelName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resources/AuthenticationLogResource.php

		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/AuthenticationLogResource.php
